/* Estilo para la sección de Consejos Culinarios */
#consejos {
    background-color: #f9f4e7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

#consejos h3 {
    font-size: 24px;
    font-weight: bold;
    color: #a0522d;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#consejos .contenedor {
    padding: 10px;
    margin: 0 auto;
    max-width: 600px;
}

#consejos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#consejos ul li {
    font-size: 18px;
    color: #5e4c3a;
    margin: 10px 0;
    padding-left: 20px;
    position: relative;
    line-height: 1.6;
    border-left: 4px solid #d2691e;
}

#consejos ul li:before {
    content: "\2022";
    position: absolute;
    left: -10px;
    color: #a0522d;
    font-size: 24px;
    line-height: 0;
}

#consejos ul li:hover {
    background-color: #f1ebdd;
    border-left-color: #8b4513;
    transition: background-color 0.3s ease, border-left-color 0.3s ease;
}

@media screen and (max-width: 600px) {
    #consejos ul li {
        font-size: 16px;
    }

    #consejos h3 {
        font-size: 20px;
    }
}
